body{
    background-color: rgb(131, 126, 186);
    margin: 0px;
}

ul{
    list-style-type: none;
    padding: 20px;
    background-color: rgb(7, 247, 195);
    overflow: hidden;
}

li{
    float:left;   
}

li a{
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    text-align: center;
}

li a:hover{
    background-color: aqua;
    color:red;
}

.listing{
    all: unset;
}

ul.listing{
    list-style-type: disc;
}


.DropDownContent {
  display: none;
  position: absolute;
  z-index: 1;
}



.DropDownContent a {
  padding: none;
  display: block;
}

.DropDownMenu:hover .DropDownContent {display: block;}

    