<! DOCTYPE html>
<html>
    <head>
        <title>112303537_蔡典儒</title>
    <link rel="stylesheet" href="C:\Users\蔡典儒\Desktop\ME2025Demo\HW3_htmlAndCss\css\112303537_css.css">
    </head>
    <body>
        <nav>
            <ul class="DropDownMenu DropDown">

                <li class="DropDown"><a href="https://www.youtube.com/watch?v=TPtROaoECRU&list=PL4UYD9wGXOSL4hrHg6RiofppYOMovtIN5&index=7">CSS Learning Video</a></li>
                <li class="DropDown"><a href="#" class="DropDownBTN">others</a>
                    <ul class="DropDownContent DropDown">
                        <li class="DropDown"><a href="https://www.youtube.com/@meowdot0410">My youtube channel</a></li><br>
                        <li class="DropDown"><a href="https://www.google.com/">Google</a></li><br>
                        <li class="DropDown"><a href="https://www.instagram.com/dianrucai/">Instagram</a></li><br>
                        <li class="DropDown"><a href="https://tw.yahoo.com/">yahoo</a></li>
                    </ul>
                </li>
                <li style="float:right;" class="DropDown"><a href="https://www.me.ncu.edu.tw/portfolio-item/%E6%9E%97%E9%8C%A6%E5%BE%B7/">About my professor</a></li><br>
            </ul>
        </nav>
        <h1>機械3B蔡典儒自我介紹</h1>
        <table border="3" width="200px">
            <tr>
                <th><img src="C:\Users\蔡典儒\Desktop\ME2025Demo\HW3_htmlAndCss\img\hoshinoken.jpg" alt="picture failure" width="100px" height="100px"" ></th>
                <th><img src="C:\Users\蔡典儒\Desktop\ME2025Demo\HW3_htmlAndCss\img\university.png" alt="picture failure" width="100px" height="100px"" ></th>
                <th><img src="C:\Users\蔡典儒\Desktop\ME2025Demo\HW3_htmlAndCss\img\head.jpg" alt="picture failure" width="100px" height="100px"></th>
                <th><img src="C:\Users\蔡典儒\Desktop\ME2025Demo\HW3_htmlAndCss\img\eevee.jpg" alt="picture failure" width="100px" height="100px"></th>
            </tr>
            <tr>
                 <th><a href="https://www.youtube.com/@genhoshino">My favorate singer:星野源</a></th>
                <th><a href="https://www.ncu.edu.tw/tw/">My university:中央大學</a></th>
                <th><a href="https://www.facebook.com/cai.dian.ru.957362">My socil media:蔡典儒</a></th>
                <th><a href="112303537_detail.html">About me<br>(第二頁)</a></th>
            </tr>
            
        </table>
    </body>
</html>