<!DOCTYPE html>
<html>
    <head>
        <title>猜數字</title>
        <script src="../static/1123103537_js_1.js" defer></script>
    </head>
    <body>
        <h1>猜數字遊戲</h1>
        <h4>請輸入一個介於1到100的隨機整數</h4>
        <form action="" method="" id="guessForm" onsubmit="return false;">

            <input type="number" name="input" id="guessInput" placeholder="輸入你要猜的數字" min="0" max="100" step="1" required>
            <button class="primary" type="submit" onclick="func()">猜</button>
            <div class="hint" id="hint"></div>
            <div class="muted"></div>

        </form>
    </body>
</html>