
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>購物車</title>
        <link rel="stylesheet" href="../static/112303537_js_4.css">
        <script src="../static/112303537_js_4.js" defer></script>

    </head>
    <body>
        <div id="container"></div>
        <!--客製化結帳彈窗-->
        <div id="checkoutModal" class="modal hidden">
            <div class="modal-content">
                <h3>💙 結帳明細</h3>
                <div id="checkoutDetails"></div>
                <button id="closeModal">確定</button>
            </div>
        </div>
    </body>
</html>