<!DOCTYPE html>
<html>
    <head>
        <title>猜數字</title>
        <script src="../static/112303537_js_3.js" defer></script>
    </head>
    <body>
        <h1>猜數字遊戲</h1>
        <h4><p id="display">請輸入一個介於1到100的隨機整數 </p></h4><p id="display"></p>請輸入一個介於1到100的隨機整數 </p>
        <form action="" method="" id="guessForm" onsubmit="return false;">

            <input type="number" name="input" id="guessInput" placeholder="輸入你要猜的數字" min="0" max="100" step="1" required>
            <button class="primary" type="submit" onclick="func()">猜</button>

        </form>
    </body>
</html>